@media all and min-width740px and min-device-width740px,max-device-width800px and min-width740px and orientationlandscape {
    body {
        min-width: 720px;
    }
}

@media all and min-width980px and min-device-width980px,all and max-device-width1024px and min-width1024px and orientationlandscape {
    body {
        min-width: 960px;
    }
}

@media all and min-width1220px {
    body {
        min-width: 1200px;
    }
}
