body { background:#e4e4e4; }

#feedbackemail {
  width:17em;
}

#feedbackemail.expanded {
  height: 16.5em;
}

/* Slideshow */

.flexslider .slides a {
  border-bottom:none !important; 
}

.flexslider .slides p a {
  border-bottom:1px solid #00AED3 !important;
}

/* Horizontal tabs */

.horizontal-tabs ul.horizontal-tabs-list li a {
  padding-bottom:1px;
  background:#efefef;
}

.horizontal-tabs ul.horizontal-tabs-list li.selected a {
  background:#fff;
}

.horizontal-tabs fieldset {
  border:none !important;
}

.horizontal-tabs .fieldset-wrapper {
  padding-bottom:1em;
  border-bottom:1px solid #E5E2DE !important;
}

/* 16:9 ratio for videos */

#zone-content #region-content .fluid-width-video-wrapper {
  padding-top:0px !important;
  width:710px !important;
  height:399px !important;
}

