.jp-audio {
    margin-top: 20px;
    margin-bottom: 30px;
}

.jp-type-playlist div.jp-interface {
    background: #444;
    margin: 10px 10px 0 10px;
    padding: 10px 0;
    color: #fff;
}



div.jp-progress {
    overflow: hidden;
}

div.jp-audio div.jp-type-playlist div.jp-progress {
    height: 15px;
    background: #555;
}

div.jp-seek-bar {
    background: #eee;
    width: 0px;
    height: 15px;
    height: 100%;
    cursor: pointer;
}

div.jp-play-bar {
    background: #7aa22f;
    width: 0px;
    height: 100%;
    -webkit-transition: all 100ms ease-out;
    -moz-transition: all 100ms ease-out;
    -o-transition: all 100ms ease-out;
    transition: all 100ms ease-out;
}

div.jp-current-time,
div.jp-duration {
    width: auto;
    display: inline-block;
    color: #fff;
    color: rgba(255,255,255,0.9);
}

.jp-time {
    text-align: right;
    padding-top: 6px;
    color: #bbb;
    color: rgba(255,255,255,0.4);
}



.jp-rhscol {
    margin-left: 95px;
    padding: 5px 0 5px 0;
    margin-right: 5%;
}

ul.jp-controls {
    margin: 0 !important;
}

div.jp-interface ul.jp-controls.playpause {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 95px;
    float: left;
}

div.jp-audio div.jp-type-playlist div.jp-interface ul.jp-controls {
    padding: 0;
    margin: 0;
}

div.jp-interface ul.jp-controls li {
    padding: 0;
    margin: 0;
}

div.jp-interface ul.jp-controls a {
    text-indent: -9999px;
}

div.jp-interface ul.jp-controls.playpause a {
    display: block;
    overflow: hidden;
    margin: 0 0 0 22px;
}

div.jp-interface ul.jp-controls a.jp-play,
div.jp-interface ul.jp-controls a.jp-pause {
    width: 47px;
    height: 47px;
    z-index: 1;
    display: block;
}

div.jp-audio div.jp-type-playlist a.jp-play,
div.jp-audio div.jp-type-playlist a.jp-pause {
    top: 0px;
    left: 0px;
}

a.jp-play {
    background: url(http://images.tate.org.uk/sites/all/modules/jplayer/theme/tate-jplayer-controls.png) no-repeat -73px 0px;
}



a.jp-pause {
    background: url(http://images.tate.org.uk/sites/all/modules/jplayer/theme/tate-jplayer-controls.png) no-repeat -22px 0px;
}



.jp-rhscol-audio {
    float: left;
    width: 40%;
    min-width: 100px;
    padding-top: 5px;
}

a.jp-mute,
a.jp-unmute {
    width: 20px;
    height: 20px;
    float: left;
    margin: 0;
    padding: 0;
}

a.jp-mute {
    background: url(http://images.tate.org.uk/sites/all/modules/jplayer/theme/tate-jplayer-controls.png) no-repeat 0 5px;
}



a.jp-unmute {
    background: url(http://images.tate.org.uk/sites/all/modules/jplayer/theme/tate-jplayer-controls.png) no-repeat 0 -14px;
    display: none;
}



div.jp-volume-bar {
    overflow: hidden;
    display: inline-block;
    height: 6px;
    cursor: pointer;
    width: 70%;
    min-width: 75px;
    margin-left: 4px;
    position: relative;
    top: -2px;
}

div.jp-audio div.jp-type-playlist div.jp-volume-bar {
    background: #111;
}

div.jp-volume-bar-value {
    background: #7aa22f;
    width: 0px;
    height: 6px;
    -webkit-transition: all 100ms ease-out;
    -moz-transition: all 100ms ease-out;
    -o-transition: all 100ms ease-out;
    transition: all 100ms ease-out;
}

div.jp-playlist {
    background: #fff;
    margin: 0 10px;
    color: #444;
    border: 1px solid #444;
    border-top: none;
    font-size: .9em;
}

div.jp-jplayer {
    width: 0px;
    height: 0px;
}

div.jp-jplayer {
    background-color: #000000;
}

div.jp-volume-bar,
div.jp-interface ul.jp-controls a {
    opacity: 0.7;
    -webkit-transition: opacity 300ms ease-out;
    -moz-transition: opacity 300ms ease-out;
    -o-transition: opacity 300ms ease-out;
    transition: opacity 300ms ease-out;
}

div.jp-volume-bar:hover,
div.jp-interface ul.jp-controls a:hover {
    opacity: 1.0;
}

.tatemobile .jp-audio {
    margin: 0;
    padding-bottom: 10px;
}

.tatemobile .jp-type-playlist div.jp-interface {
    margin: 0 5px;
}

.tatemobile div.jp-playlist {
    margin: 0px 5px;
}

@media all and (max-width:800px) {
    .tatemobile .jp-type-playlist div.jp-interface {
        padding-bottom: 0px;
    }

    .tatemobile div.jp-volume-bar {
        margin: 0px;
        width: 100%;
        height: 15px;
    }

    .tatemobile .jp-rhscol {
        position: relative;
    }

    .tatemobile .jp-time {
        position: absolute;
        top: 15px;
        right: 0px;
    }

    .tatemobile div.jp-audio div.jp-type-playlist .jp-rhscol-audio ul.jp-controls {
        position: absolute;
        left: 0px;
        top: 18px;
    }

    .tatemobile div.jp-volume-bar-value {
        height: 15px;
    }

    .tatemobile .jp-rhscol-audio {
        float: none;
        padding-left: 34px;
        padding-top: 25px;
        width: auto;
        position: relative;
    }

    .tatemobile a.jp-mute {
        background-position: -123px 5px;
        height: 29px;
        width: 29px;
    }

    .tatemobile a.jp-unmute {
        background-position: -123px -21px;
        height: 29px;
        width: 29px;
    }
}

@media all and (max-width:500px) {
    .tatemobile div.jp-interface ul.jp-controls.playpause {
        width: 70px;
    }

    .tatemobile div.jp-interface ul.jp-controls.playpause a {
        margin: 0 0 0 12px;
    }

    .tatemobile .jp-rhscol {
        margin-left: 70px;
    }
}
