.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

img {
    border: 0;
}

@font-face {
    font-family: 'avantgarde_md_btmedium';
    src: url('fonts/avant_garde_medium_bt-webfont.eot');
    src: url('fonts/avant_garde_medium_bt-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/avant_garde_medium_bt-webfont.woff2') format('woff2'),
    url('fonts/avant_garde_medium_bt-webfont.woff') format('woff'),
    url('fonts/avant_garde_medium_bt-webfont.ttf') format('truetype'),
    url('fonts/avant_garde_medium_bt-webfont.svg#avantgarde_md_btmedium') format('svg');
    font-weight: normal;
    font-style: normal;
}
body,
html {
    margin: 0;
    padding: 0;
    background: #7aa22f;
    -webkit-text-size-adjust: none;
    font-family: avantgarde_md_btmedium,Arial,Helvetica,sans-serif;
    color: #444;
    font-size: 14px;
    line-height: 24px;
}
img {
    vertical-align: bottom;
}

img {
    border: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    outline: none;
}

#page {
    width: 100%;
    min-width: auto!important;
    margin: 0 auto;
    background: #fff;
    position: relative;
}

a,
a:link,
a:active,
a:visited,
a:hover {
    text-decoration: none;
    color: #fff;
}

p {
    padding: 10px;
    margin: 0;
    font-size: 15px;
    line-height: 20px;
}

h1 {
    margin: 0;
    padding: 10px;
    font-weight: normal;
    text-align: left;
}

h1 {
    font-size: 24px;
    font-weight: bold;
    line-height: 30px;
}

h2 {
    padding: 0 10px 10px 10px;
    margin:0;
}

img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
}

#header img
{
    max-height: 90px;
}

.jp-time {
    font-size: 11px;
}

.above-jplayer.intro {
    text-align: justify;
    border:none;
}

.intro-box-container
{
    margin-bottom: 10px;
}

.intro-box-title {
    background: #444;
    margin: 0 5px;
    padding: 10px;
    color: #fff;
    overflow: auto;
    text-align: right;
    font-size: 20px;
}
.intro-box-title img
{
    width:15px;
    margin:0 0 4px 7px;
}

.intro-box {
    background: #fff;
    margin: 0 5px;
    color: #444;
    border: 1px solid #444;
    border-top: none;
    text-align: justify;
}


.above-jplayer {
    background: #fff;
    margin: 0 5px;
    color: #444;
    border: 1px solid #444;
    border-bottom: none;
    text-align:center;
}

.below-jplayer {
    background: #444;
    margin: 0 5px;
    padding: 10px;
    color: #fff;
    overflow: auto;
}

.nav-control {
    float: left;
    font-size:20px;
}

.nav-control.prev {
    width:30%;
}

.nav-control.home {
    width:40%;
    text-align: center;
}

.nav-control.home img
{
    width: 25px;
}

.nav-control.next {
    width:30%;
    text-align: right;
}

.nav-control.next img
{
    width:15px;
    margin:0 0 4px 7px;
}
.nav-control.prev img
{
    width:15px;
    margin:0 7px 4px 0;
}

#footer img {
    width:100%;
}